body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

.erstefoto {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  display: flex;
}

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 25%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.196);
  padding: 10px;
  z-index: 1;
  top: 0;
}

nav a {
  color: rgba(255, 252, 252, 0.968);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  transition: color 0.5s ease-in-out;
}

nav a:hover {
  color: rgba(255, 128, 82, 0.889);
}

.active {
  background-color: rgba(0, 0, 0, 0.282);
}

.fotolog {
  float: left;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 50px 50px 50px 50px;
  max-width: 70px;
  max-height: 70px;
  left: 10px;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.734);
  color: rgba(255, 255, 255, 0.91);
  padding: 10px 20px;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: center;
  color: rgba(181, 51, 4, 0.889);
}

.google-kontakt-message {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}

.google {
  height: 60vh;
  border: 4px solid orangered;
}

.google1 {
  height: 100%;
  width: 100%;
  border-radius: 5px 5px;
}

.adresa {
  text-align: center;
}

.adresa i {
  display: block;
  margin-bottom: 10px;
  font-size: 35px;
  color: rgba(255, 128, 82, 0.889);
}

.adresa span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  text-shadow: 1px 1px 0px rgba(181, 51, 4, 0.889), -1px -1px 0px rgba(181, 51, 4, 0.889), 1px -1px 0px rgba(181, 51, 4, 0.889), -1px 1px 0px rgba(181, 51, 4, 0.889);
}

.kontakt__list {
  margin: 10px;
}

.kontakt__list .adresa {
  padding: 5px;
}

.adresa-detail {
  font-size: 20px;
  color: rgba(255, 252, 252, 0.968);
  text-shadow: 1px 1px 0px rgba(181, 51, 4, 0.889), -1px -1px 0px rgba(181, 51, 4, 0.889), 1px -1px 0px rgba(181, 51, 4, 0.889), -1px 1px 0px rgba(181, 51, 4, 0.889);
}

.message {
  align-items: center;
}

form {
  margin: 0;
  text-align: center;
}

input {
  width: 50vh;
  height: 5vh;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 30px rgba(255, 252, 252, 0.968);
  border: 1px solid rgba(255, 252, 252, 0.968);
  background-color: rgba(0, 0, 0, 0.539);
  padding: 1px;
  border-radius: 10px 10px;
  font-size: 20px;
  color: rgba(255, 252, 252, 0.968);
}

::-moz-placeholder {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: rgba(255, 252, 252, 0.968);
}

::placeholder {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  color: rgba(255, 252, 252, 0.968);
}

textarea {
  width: 50vh;
  height: 120px;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 30px rgba(255, 252, 252, 0.968);
  border: 1px solid rgba(255, 252, 252, 0.968);
  background-color: rgba(0, 0, 0, 0.539);
  padding: 4px;
  border-radius: 10px 10px;
  font-size: 20px;
  color: rgba(255, 252, 252, 0.968);
}

button {
  border-radius: 10px 10px;
  width: 120px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.539);
  color: rgba(255, 252, 252, 0.968);
  box-shadow: 0 0 30px rgba(255, 252, 252, 0.968);
}
button:hover {
  animation: button 0.3s;
  animation-iteration-count: infinite;
  background-color: orangered;
  transition: 0.8s;
}

.alert-success {
  z-index: 1;
  font-size: 15px;
  color: rgba(255, 252, 252, 0.968);
  text-shadow: 1px 1px 0px rgba(181, 51, 4, 0.889), -1px -1px 0px rgba(181, 51, 4, 0.889), 1px -1px 0px rgba(181, 51, 4, 0.889), -1px 1px 0px rgba(181, 51, 4, 0.889);
  min-width: 300px;
  position: relative;
  text-align: center;
  margin-top: 7px;
}

.alert-error {
  z-index: 1;
  font-size: 15px;
  color: rgba(255, 252, 252, 0.968);
  text-shadow: 1px 1px 0px rgba(181, 4, 4, 0.797), -1px -1px 0px rgba(181, 4, 4, 0.797), 1px -1px 0px rgba(181, 4, 4, 0.797), -1px 1px 0px rgba(181, 4, 4, 0.797);
  min-width: 300px;
  position: relative;
  text-align: center;
  margin-top: 7px;
}

@keyframes button {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  25% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  75% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(0deg);
  }
}
.social-icons-kontakt {
  position: fixed;
  bottom: 10px;
  display: flex;
  left: 43%;
}
.social-icons-kontakt a {
  padding: 0.4rem;
  transition: 0.8s;
  margin: 3px;
  font-size: 20px;
  text-decoration: none;
  color: rgba(255, 128, 82, 0.889);
}
.social-icons-kontakt a:hover {
  color: rgba(255, 252, 252, 0.968);
}/*# sourceMappingURL=kontakt.css.map */